.about{
    img{
        border-radius: 50px;
        padding: 20px;
    }
}
.contact{
    .flexin(column, space-between, center);
    font-style: italic;
    margin-bottom: 2%;

    a {
        font-family: "Mulish", sans-serif;
        line-height: 1.5;
        font-size: 1.6rem;
        padding-bottom: 10px;
        font-style: italic;
    }
}