.row{
    .flexin(row, space-around, center);
    margin: 3% auto;
    text-align: center;
    max-width: 800px;
    width: 100%;

    @media @iphone{
        flex-direction: column;
        img{
            order: 2;
        }
    }
}

figure{
    max-width: 65%;
    height: auto;
    padding: 20px;

    figcaption{
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        a{
            color: blue;
        }
    }

    @media @iphone {
        max-width: 100%;
    }
}
.snippet{
    max-width: 50%;
    margin: 20px;
    text-align: left;

    @media @iphone {
        max-width: 100%;
    }
}

