// Background shape
.projectPreviews{
    .flexin(column, center, center);
}

.preview{
    .flexin(column, flex-start, center);
    width: 1440px;
    height: auto;
    left: 0px;
    top: 368px;
    padding: 4%;

    
    background: radial-gradient(50% 50% at 50% 50%, rgba(172, 218, 232, 0.5) 73.96%, rgba(159, 209, 223, 0) 100%);  

}

.blue-bg{
    background: radial-gradient(50% 50% at 50% 50%, rgba(172, 218, 232, 0.5) 73.96%, rgba(159, 209, 223, 0) 100%);  
}

.pink-bg{
    background: radial-gradient(50% 50% at 50% 50%, rgba(232, 176, 213, 0.5) 68.23%, rgba(232, 176, 213, 0) 100%);
}

.previewContent{
    .flexin(row, center, center);
}
